<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Register</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
             <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                 {{ message }}
</div>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div>
            <label for="login-username">Username:</label>
            <input type="text" id="login-username" name="username" required>
        </div>
        <div>
            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <a href="/register">Don't have an account? Register.</a>
</body>
</html>
